In [22]:
import pandas as pd

df = pd.read_csv('payment_fraud.csv')
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0

In [3]:
df.shape

(39221, 6)

In [18]:
df.columns.nunique()

6

In [24]:
# Show columns 
for col in  df.columns:
    print(col)

accountAgeDays
numItems
localTime
paymentMethod
paymentMethodAgeDays
label

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39221 entries, 0 to 39220
Data columns (total 6 columns):
accountAgeDays          39221 non-null int64
numItems                39221 non-null int64
localTime               39221 non-null float64
paymentMethod           39221 non-null object
paymentMethodAgeDays    39221 non-null float64
label                   39221 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.8+ MB

In [27]:
# Convert Categprical var to numeric
df = pd.get_dummies(df, columns= ['paymentMethod'])

In [30]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
0,29,1,4.745402,28.204861,0,0,1,0
1,725,1,4.742303,0.000000,0,0,0,1
2,845,1,4.921318,0.000000,0,1,0,0
3,503,1,4.886641,0.000000,0,1,0,0
4,2000,1,5.040929,0.000000,0,1,0,0

### Divide the dataset into training and test sets

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis= 1), df['label'],
    test_size= 0.33, random_state= 17) # train:test ratio is 0.67:0.33

In [33]:
# Applied Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [34]:
y_pred = clf.predict(X_test)

In [35]:
# Print Accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred, y_test))

0.999922738159623

In [36]:
# Show Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    1   189]]